# Cibles Rust
target/
**/target/

# Fichiers temporaires
*.log
*.swp
*.tmp

# Artefacts ISO / build
mini-os/mini-os.iso
mini-os/isodir/

# Outils IDE
.vscode/
.idea/

# Fichiers binaires volumineux
**/*.img
!mini-os/rustos_multiboot2.img  # Géré par Git LFS
**/*.iso
**/target/
**/Cargo.lock
